@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,200;0,300;1,200&family=Roboto:wght@100&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-contenedor {
  width: 100%;
  margin: 0 auto;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto  700px 50px;
  grid-template-areas: "header header header" "main main aside" "footer footer footer"; }

.grid-contenedor_acercade {
  width: 100%;
  margin: 0 auto;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.productos {
  display: flex;
  justify-content: center;
  align-items: center; }

.encabezado {
  background: #413f3f;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  grid-area: header;
  flex-direction: column; }
  .encabezado h1 {
    font-style: oblique;
    font: weight 100;
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    text-align: center;
    padding: 10px; }
  .encabezado nav {
    width: 100%;
    color: #f7ed66; }
    .encabezado nav form button {
      background-color: #f7ed66; }
      .encabezado nav form button:hover {
        background-color: #e90a2f; }

.principal {
  grid-area: main;
  background: linear-gradient(rgba(8, 8, 8, 0.349), rgba(8, 8, 8, 0.404)), url("../img/fon.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #888383;
  margin: 0; }
  .principal h2 {
    font-size: 45px;
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    font-style: oblique;
    text-align: center;
    border: 2px #a8d407; }
  .principal .hero .hero_elementos {
    padding: 10px;
    margin: 10px; }
    .principal .hero .hero_elementos p {
      font-size: 20px;
      color: white;
      font-family: 'poppins';
      padding: 10px;
      text-align: center;
      text-shadow: #636363;
      margin: 15px;
      align-items: center; }
  .principal .hero_contactos {
    text-align: center;
    padding: 10px;
    margin: 40px;
    border: 2px white solid;
    border-radius: 7px; }
    .principal .hero_contactos h3 {
      font-family: 'Bruno Ace SC', cursive;
      color: #f7ed66;
      font-style: oblique;
      text-align: center; }
    .principal .hero_contactos p {
      color: white; }
    .principal .hero_contactos a {
      color: red;
      padding: 5px;
      font-style: normal;
      font-family: 'Bruno Ace SC', cursive;
      text-decoration: none;
      transition: 1s; }
    .principal .hero_contactos a:hover {
      transform: scale(3); }

/*!-----------------------productos------!*/
.grid-contenedor-productos {
  background: #2f2f32;
  background: linear-gradient(0deg, #2f2f32 0%, #cdcde0 49%, #06060a 100%); }
  .grid-contenedor-productos .cuerdas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px; }
    .grid-contenedor-productos .cuerdas .contenedor1 {
      width: 450px;
      padding: 0;
      background-image: url("../img/guitarras_p.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .cuerdas .contenedor1 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .cuerdas .contenedor1 button {
        margin: 5px; }
    .grid-contenedor-productos .cuerdas .contenedor1:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .cuerdas .contenedor2 {
      width: 450px;
      padding: 0;
      background-image: url("../img/bajos.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .cuerdas .contenedor2 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .cuerdas .contenedor2 button {
        margin: 5px; }
    .grid-contenedor-productos .cuerdas .contenedor2:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .cuerdas .contenedor3 {
      width: 450px;
      padding: 0;
      background-image: url("../img/violines.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .cuerdas .contenedor3 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .cuerdas .contenedor3 button {
        margin: 5px; }
    .grid-contenedor-productos .cuerdas .contenedor3:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
  .grid-contenedor-productos .percucion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px; }
    .grid-contenedor-productos .percucion .contenedor4 {
      width: 450px;
      padding: 0;
      background-image: url("../img/baterias.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .percucion .contenedor4 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .percucion .contenedor4 button {
        margin: 5px; }
    .grid-contenedor-productos .percucion .contenedor4:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .percucion .contenedor5 {
      width: 450px;
      padding: 0;
      background-image: url("../img/bombos.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .percucion .contenedor5 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .percucion .contenedor5 button {
        margin: 5px; }
    .grid-contenedor-productos .percucion .contenedor5:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .percucion .contenedor6 {
      width: 450px;
      padding: 0;
      background-image: url("../img/timbales.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .percucion .contenedor6 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .percucion .contenedor6 button {
        margin: 5px; }
    .grid-contenedor-productos .percucion .contenedor6:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
  .grid-contenedor-productos .Vientos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px; }
    .grid-contenedor-productos .Vientos .contenedor7 {
      width: 450px;
      padding: 0;
      background-image: url("../img/vientos.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .Vientos .contenedor7 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .Vientos .contenedor7 button {
        margin: 5px; }
    .grid-contenedor-productos .Vientos .contenedor7:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .Vientos .contenedor8 {
      width: 450px;
      padding: 0;
      background-image: url("../img/trompetas.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .Vientos .contenedor8 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .Vientos .contenedor8 button {
        margin: 5px; }
    .grid-contenedor-productos .Vientos .contenedor8:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .Vientos .contenedor9 {
      width: 450px;
      padding: 0;
      background-image: url("../img/trombon.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .Vientos .contenedor9 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .Vientos .contenedor9 button {
        margin: 5px; }
    .grid-contenedor-productos .Vientos .contenedor9:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
  .grid-contenedor-productos .amplis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px; }
    .grid-contenedor-productos .amplis .contenedor10 {
      width: 450px;
      padding: 0;
      background-image: url("../img/amplificadores.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .amplis .contenedor10 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .amplis .contenedor10 button {
        margin: 5px; }
    .grid-contenedor-productos .amplis .contenedor10:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .amplis .contenedor11 {
      width: 450px;
      padding: 0;
      background-image: url("../img/consolas.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .amplis .contenedor11 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .amplis .contenedor11 button {
        margin: 5px; }
    .grid-contenedor-productos .amplis .contenedor11:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }
    .grid-contenedor-productos .amplis .contenedor12 {
      width: 450px;
      padding: 0;
      background-image: url("../img/microfonos.jpg");
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: center;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 1s;
      border-radius: 7px; }
      .grid-contenedor-productos .amplis .contenedor12 h3 {
        opacity: 1;
        background-color: #88888881;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
        color: #f7ed66;
        font-style: oblique;
        width: 100%; }
      .grid-contenedor-productos .amplis .contenedor12 button {
        margin: 5px; }
    .grid-contenedor-productos .amplis .contenedor12:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }

.grid-contenedor_acercade .principal_acercade {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.568)), url("../img/fon.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 5px; }
  .grid-contenedor_acercade .principal_acercade .hero h2 {
    font-size: 45px;
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    font-style: oblique;
    text-align: center;
    border: 2px #a8d407; }
  .grid-contenedor_acercade .principal_acercade .hero .hero_elementos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px; }
    .grid-contenedor_acercade .principal_acercade .hero .hero_elementos p {
      font-size: 20px;
      color: white;
      font-family: 'poppins';
      padding: 20px;
      text-align: center; }
  .grid-contenedor_acercade .principal_acercade .hero_contactos {
    text-align: center;
    padding: 10px;
    margin: 40px;
    border: 2px white solid;
    border-radius: 7px; }
    .grid-contenedor_acercade .principal_acercade .hero_contactos h3 {
      font-family: 'Bruno Ace SC', cursive;
      color: #f7ed66;
      font-style: oblique;
      text-align: center; }
    .grid-contenedor_acercade .principal_acercade .hero_contactos p {
      color: white; }
    .grid-contenedor_acercade .principal_acercade .hero_contactos a {
      color: red;
      padding: 5px;
      font-style: normal;
      font-family: 'Bruno Ace SC', cursive;
      text-decoration: none;
      transition: 1s; }
    .grid-contenedor_acercade .principal_acercade .hero_contactos a:hover {
      transform: scale(2); }

.formulario {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2f2f32;
  background: linear-gradient(0deg, #2f2f32 0%, #cdcde0 49%, #06060a 100%); }
  .formulario .formulario_1 h2 {
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    text-align: center;
    font-style: oblique; }
  .formulario .formulario_1 form {
    border: 2px black solid;
    border-radius: 7px;
    width: 550px;
    height: 450px;
    padding: 5px;
    background-color: aliceblue; }
  .formulario h3 {
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    text-align: center;
    font-style: oblique; }
  .formulario .mapa {
    margin: 10px;
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 2px black solid; }

/*----------------------------servicio------------------------*/
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background: #2f2f32;
  background: linear-gradient(0deg, #2f2f32 0%, #cdcde0 49%, #06060a 100%); }
  .servicio h2 {
    font-size: 65px;
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    text-align: center;
    font-style: oblique;
    text-shadow: #292828; }
  .servicio .video {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px; }
    .servicio .video .parrafo {
      width: 300px;
      text-align: center;
      margin: 40px;
      background-color: rgba(77, 74, 74, 0.473);
      border-radius: 7px;
      font-family: 'Bruno Ace SC', cursive;
      font-size: 20px;
      color: #f7ed66;
      box-shadow: 10px 10px 8px 10px #292828; }
      .servicio .video .parrafo a {
        color: red;
        padding: 5px;
        font-style: normal;
        font-family: 'Bruno Ace SC', cursive;
        text-decoration: none; }

.productos {
  background: #2f2f32;
  background: linear-gradient(0deg, #2f2f32 0%, #cdcde0 49%, #06060a 100%);
  grid-area: aside;
  flex-direction: column; }
  .productos h2 {
    font-family: 'Bruno Ace SC', cursive;
    color: #f7ed66;
    text-align: center;
    padding: 10px;
    font-style: oblique;
    margin-top: 0; }
  .productos .productos_contenedor {
    margin: 5px;
    padding: 5px;
    height: 900px;
    overflow-y: auto;
    align-items: center;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .productos .productos_contenedor .tarjetas {
      width: 200px;
      height: auto;
      text-align: center;
      border: 3px black solid;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 20px;
      background-color: white;
      padding: 2px;
      transition: 1s; }
      .productos .productos_contenedor .tarjetas img {
        width: 100%;
        height: 250px; }
      .productos .productos_contenedor .tarjetas h3 {
        font-family: 'Bruno Ace SC', cursive;
        text-decoration: none;
        padding: 5px; }
      .productos .productos_contenedor .tarjetas p {
        margin: 5px;
        padding: 5px; }
      .productos .productos_contenedor .tarjetas a {
        background-color: #f8e005;
        color: red;
        padding: 5px;
        margin: 5px;
        font-style: normal;
        border: 2px #f37005 solid;
        font-family: 'Bruno Ace SC', cursive;
        text-decoration: none;
        box-shadow: 2px 2px 1px 2px #888888; }
    .productos .productos_contenedor .tarjetas:hover {
      transform: scale(1.01);
      box-shadow: 10px 10px 8px 10px #292828; }

.redes {
  background-color: #413f3f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  grid-area: footer;
  height: 50px; }

@media screen and (max-width: 1050px) {
  .grid-contenedor {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  auto auto 50px;
    grid-template-areas: "header header" "main main" "aside aside" "footer footer"; }
    .grid-contenedor .hero p {
      font-size: 12px;
      text-align: center; }
    .grid-contenedor .productos_contenedor {
      display: flex;
      flex-direction: row;
      height: auto;
      width: auto; }
      .grid-contenedor .productos_contenedor .tarjetas {
        margin: 15px; }
  .grid-contenedor-productos .cuerdas {
    display: flex;
    flex-direction: column; }
  .grid-contenedor-productos .percucion {
    flex-direction: column; }
  .grid-contenedor-productos .Vientos {
    flex-direction: column; }
  .grid-contenedor-productos .amplis {
    flex-direction: column; }
  .servicio .video {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .grid-contenedor {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  auto auto 50px;
    grid-template-areas: "header header" "main main" "aside aside" "footer footer"; }
    .grid-contenedor .productos_contenedor {
      display: flex;
      flex-direction: column;
      height: auto; }
  .grid-contenedor-productos .cuerdas {
    display: flex;
    flex-direction: column; }
  .grid-contenedor-productos .percucion {
    flex-direction: column; }
  .grid-contenedor-productos .vientos {
    flex-direction: column; }
  .grid-contenedor-productos .amplis {
    flex-direction: column; }
  .formulario .formulario_1 form {
    width: 350px;
    height: auto; } }

@media screen and (max-width: 700px) {
  .servicio h2 {
    font-size: 45px; }
  .servicio .video {
    margin: 10px; }
    .servicio .video iframe {
      width: 350px; }
    .servicio .video .parrafo {
      margin: 15px; } }

@media screen and (max-width: 580px) {
  .grid-contenedor {
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas: "header" "main" "aside" "footer"; }
    .grid-contenedor .encabezado {
      position: static; }
    .grid-contenedor .hero h2 {
      font-size: 35px; }
    .grid-contenedor .productos_contenedor {
      flex-direction: column;
      height: auto;
      width: auto; }
  .grid-contenedor_acercade .principal_acercade .hero h2 {
    font-size: 35px; }
  .grid-contenedor-productos .cuerdas .contenedor1 {
    width: 300px; }
  .grid-contenedor-productos .cuerdas .contenedor2 {
    width: 300px; }
  .grid-contenedor-productos .cuerdas .contenedor3 {
    width: 300px; }
  .grid-contenedor-productos .percucion .contenedor4 {
    width: 300px; }
  .grid-contenedor-productos .percucion .contenedor5 {
    width: 300px; }
  .grid-contenedor-productos .percucion .contenedor6 {
    width: 300px; }
  .grid-contenedor-productos .Vientos .contenedor7 {
    width: 300px; }
  .grid-contenedor-productos .Vientos .contenedor8 {
    width: 300px; }
  .grid-contenedor-productos .Vientos .contenedor9 {
    width: 300px; }
  .grid-contenedor-productos .amplis .contenedor10 {
    width: 300px; }
  .grid-contenedor-productos .amplis .contenedor11 {
    width: 300px; }
  .grid-contenedor-productos .amplis .contenedor12 {
    width: 300px; }
  .formulario .formulario_1 form {
    width: 250px;
    height: auto; }
  .servicio .video {
    margin: 5px; }
    .servicio .video iframe {
      width: 300px; }
    .servicio .video .parrafo {
      margin: 5px; } }
