
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:ital,wght@0,200;0,300;1,200&family=Roboto:wght@100&family=Tilt+Prism&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-contenedor{
    width: 100%;
    margin: 0 auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px  auto 50px;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer"
    
    ;
}

.encabezado{
    background-color:rgb(65, 63, 63);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    /* padding: 5px; */
    grid-area: header;
    flex-direction: column;
    
    
}


.encabezado nav{

    color: rgb(247, 237, 102);
}
.encabezado nav form button{

    background-color: rgb(247, 230, 4);
}
.encabezado nav form button:hover{

    background-color: rgb(233, 10, 47);
}


nav{

    width: 100%;
   
}
/* .menu{
    

    align-items: center;
    text-align: center;
    position: sticky;
    
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.menu ul li{
    display: inline-block;
    margin: 15px 5px 15px 5px;
}

.menu ul li a{
    text-decoration:none;
    color: rgb(168, 212, 7);
    margin: 15px 5px 15px 5px;
    display: inline-block;

}

.menu ul li a:hover{
    color: aliceblue;
} */

.encabezado h1{
    font-style: oblique;
    font: weight 100;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    text-align: center;
    padding: 10px;
    

    
    
}
.principal {
    grid-area: main;
    background-image: url("../img/fon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}


.productos {
   
    background-color: dimgray;
    
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

 .productos_contenedor{
    /* display: flex;
    justify-content:center ;
    flex-direction: column; */
    margin: 5px;

    padding: 5px;
    height: 900px;
    
    overflow-y: auto;
    align-items: center;
    width: auto;
    text-align: center;
    
    
} 

/* .scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
  } */


.productos h2{
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    text-align: center;
    padding: 10px;
    font-style: oblique;
    margin-top: 0;


}
.tarjetas{
    width: 200px;
    height: 400px;
    text-align: center;
    border: 3px black solid;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 20px;
    background-color: white;
    box-shadow: 10px 10px 8px 10px #292828;
    padding: 2px;
   
  

}
.productos div img{
    width: 100%;
    height: 250px;
    
}
.productos div p{
    margin: 5px;
    padding: 5px;
}
.productos div a{
    background-color: rgb(248, 224, 5);
    color: red;
    padding: 5px;
    font-style: normal,;
    border: 2px rgb(243, 112, 5) solid;
    font-family: 'Bruno Ace SC', cursive;
    text-decoration: none;
    box-shadow: 5px 5px 4px 5px #888888;
    
}



.hero h2{
    font-size: 45px;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
    text-align: center;
    border: 2px rgb(168, 212, 7);
    
}
.hero p{
    font-size: 20px;
    color: rgb(240, 232, 232);
    font-family: 'poppins';
    padding: 10px;
    text-align: center;
}
.hero_elementos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;    
    
}
/* .hero_elementos img{
padding: 10px;


} */

.hero_contactos{
 text-align: center;

 

 padding: 10px;
 margin: 10px;

 border: 2px  white solid;

}
.hero_contactos a{
    
    color: red;
    padding: 5px;
    font-style: normal,;
   
    font-family: 'Bruno Ace SC', cursive;
    text-decoration: none;
}
.hero_contactos p{
    color: white;
}
.hero_contactos h3{
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
    text-align: center;


}

.formulario{
    
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    
    
    
}
.formulario h2{
    

    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    text-align: center;
    font-style: oblique;

}
.formulario form{
    border: 1px black solid;
    width: 250px;
    height: 500px;
    padding: 5px;
    background-color: aliceblue;
    
   
    
   
}

.mapa{
    margin: 10px;
    align-items: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    
    
    
}

 .redes{
    
    background-color: rgb(82, 77, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100% ;
    grid-area: footer;
    height: 50px;


}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    
}

.video h2{
    
    font-size: 65px;
   
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    text-align: center;
    font-style: oblique;
   
}
.video div{
    padding: 25px;
}
/*!----------------acercade------------!*/
.grid-contenedor_acercade{

    width: 100%;
    margin: 0 auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    ;

}


.principal_acercade{

    
    background-image: url("../img/fon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: auto;
    padding: 5px;
    


}
/*!---------------PRODUCTOS--------------!*/


.cuerdas{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #888888;
    padding: 5px;
}

.contenedor1{
    width: 900px;
    padding: 0;
    background-image: url("../img/guitarras_p.jpg") ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 0;

    
}

.contenedor2{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: auto;
}

.cuerdas div h3{
    opacity: 1;
    background-color: #88888881;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
}

.cuerdas p{
    text-align: center;
    margin: 10px;
}

.cuerdas button{
    margin: 10PX;
    text-align: center;
}

.percucion{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #636363;
    padding: 5px;

    
}

.contenedor3{
    width: 900px;
    padding: 0;
    background-image: url("../img/percucion.jpg") ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    
}

.percucion div h3{
    opacity: 1;
    background-color: #88888881;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
}


.percucion p{
    text-align: center;
}


.vientos{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #888888;
    padding: 5px;
}

.contenedor4{
    width: 900px;
    padding: 0;
    background-image: url("../img/vientos.jpg") ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    
}

.vientos div h3{
    opacity: 1;
    background-color: #88888881;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
}

.vientos p{
    text-align: center;
    
}


.amplis{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #636363;
    padding: 5PX;

}

.contenedor5{
    width: 900px;
    padding: 0;
    background-image: url("../img/amplificadores.jpg") ;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
    
}

.amplis div h3{
    opacity: 1;
    background-color: #88888881;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    color: rgb(247, 237, 102);
    font-style:oblique;
}


.amplis p{
    text-align: center;
}

/*!------------mediaquer-------------------!*/

@media screen and (max-width:1050px) {

    .grid-contenedor{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px  auto auto 50px;
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;
    }

    .hero p{
        font-size: 12px;
        text-align: center;
    }

 

    .productos_contenedor{
        display: flex;
        flex-direction: row;
        height: auto;
        
      
       
        

    }

    .tarjetas{
        margin: 15px;
    }
}

@media screen and (max-width:800px) {

    .cuerdas{
        flex-direction: column;

    }


    .percucion{
        flex-direction: column;
        
    }

    .vientos{
        flex-direction: column;
    }

    .amplis{
        flex-direction: column;
    }
    .productos_contenedor{
        flex-direction: column;
        height: auto;
    }

    .contenedor1{
        width: 100%;
    }
    .contenedor3{
        width: 100%;
    }
    .contenedor4{
        width: 100%;
    }
    .contenedor5{
        width: 100%;
    }
}


@media screen and (max-width:580px) {

    .grid-contenedor{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows:auto auto auto 50px ;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
        ;
    }
    
    .encabezado{
        position: static;
    }

    .menu ul{
        flex-direction: column;
    }

    .productos_contenedor{
        flex-direction: column;
        height: auto;
    }
}
