.encabezado{
    background: rgb(17,17,18);
    background: radial-gradient(circle, rgba(17,17,18,1) 0%, rgba(115,115,125,1) 41%, rgba(48,48,50,1) 92%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    /* padding: 5px; */
    grid-area: header;
    flex-direction: column;
    h1{
        font-style: oblique;
        font: weight 100;
        font-family: 'Bruno Ace SC', cursive;
        color:$color-titulo;
        text-align: center;
        padding: 10px;
    

    }
    nav{
        width: 100%;
        color: $color-titulo;

        form{
            button{

                background-color: $color-titulo;
                &:hover{
                    background-color: rgb(233, 10, 47);
                }

            }

        }
    }
}