.encabezado{
    background: nth($colores,5 );
    
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    grid-area: header;
    flex-direction: column;
    h1{
        font-style: oblique;
        font: weight 100;
        font-family: 'Bruno Ace SC', cursive;
        color:$color-titulo;
        text-align: center;
        padding: 10px;
    

    }
    nav{
        width: 100%;
        color: $color-titulo;

        form{
            button{

                background-color: $color-titulo;
                &:hover{
                    background-color: rgb(233, 10, 47);
                }

            }

        }
    }
}