.principal{
    grid-area: main;
    background:linear-gradient(rgba(8, 8, 8, 0.349),rgba(8, 8, 8, 0.404)), url("../img/fon.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;background-color:rgb(136, 131, 131);
    
    margin: 0;
   

    

    


    h2{
        font-size: nth($font-size,3);
        font-family: 'Bruno Ace SC', cursive;
        color:$color-titulo;
        font-style:oblique;
        text-align: center;
        border: 2px rgb(168, 212, 7);
        
        
        
        

    }


    .hero{
        

        

        .hero_elementos{
            
            
            padding: 10px;
            margin: 10px;    
            p{
                font-size: nth($font-size , 2);
                color: nth($colores,1);
                font-family: 'poppins';
                padding: 10px;
                text-align: center;
                text-shadow: #636363;
                margin: 15px;
                align-items: center ;

            }
        }
    }

    .hero_contactos{

        text-align: center;
        padding: 10px;
        margin: 40px;
        border: 2px white solid;
        border-radius: 7px;


        h3{
            font-family: 'Bruno Ace SC', cursive;
            color: $color-titulo;
            font-style:oblique;
            text-align: center;

        }
        p{
            color:nth($colores, 1 );

        }

        a{
            color:nth($colores,3);
            padding: 5px;
            font-style: normal,;
        
            font-family: 'Bruno Ace SC', cursive;
            text-decoration: none;
            transition: 1s;

        }
        a:hover{
            transform: scale(3);
        }
    }

    
}

/*!-----------------------productos------!*/

.grid-contenedor-productos{
    background: rgb(47,47,50);
    background: linear-gradient(0deg, rgba(47,47,50,1) 0%, rgba(205,205,224,1) 49%, rgba(6,6,10,1) 100%); 
    
    .cuerdas{
        
        @include flex(flex,space-between,center);
        flex-direction: row;
        
        padding: 5px;
       

        .contenedor1{

            width: 450px;
            padding: 0;
            background-image: url("../img/guitarras_p.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }

        .contenedor1:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor2{

            width: 450px;
            padding: 0;
            background-image: url("../img/bajos.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor2:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor3{

            width: 450px;
            padding: 0;
            background-image: url("../img/violines.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor3:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

    }

     .percucion{
    
        @include flex(flex,space-between,center);
        flex-direction: row;
        
        padding: 5px;
       

        .contenedor4{

            width: 450px;
            padding: 0;
            background-image: url("../img/baterias.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor4:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor5{

            width: 450px;
            padding: 0;
            background-image: url("../img/bombos.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor5:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor6{

            width: 450px;
            padding: 0;
            background-image: url("../img/timbales.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor6:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

    }
    .Vientos{
        @include flex(flex,space-between,center);
        flex-direction: row;
        
        padding: 5px;
       

        .contenedor7{

            width: 450px;
            padding: 0;
            background-image: url("../img/vientos.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }

        .contenedor7:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor8{

            width: 450px;
            padding: 0;
            background-image: url("../img/trompetas.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor8:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor9{

            width: 450px;
            padding: 0;
            background-image: url("../img/trombon.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor9:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

    }
     .amplis{
        @include flex(flex,space-between,center);
        flex-direction: row;
        
        padding: 5px;
       

        .contenedor10{

            width: 450px;
            padding: 0;
            background-image: url("../img/amplificadores.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor10:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor11{

            width: 450px;
            padding: 0;
            background-image: url("../img/consolas.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor11:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }

        .contenedor12{

            width: 450px;
            padding: 0;
            background-image: url("../img/microfonos.jpg") ;
            background-repeat: no-repeat;
            height: 400px;
            background-size:cover;
            background-position: center;
            margin: 5px;
            @include flex(flex,space-between,center);
            flex-direction: column;
            transition: 1s;
            border-radius:7px;



            h3{

                opacity: 1;
                background-color: #88888881;
                text-align: center;
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                width: 100%;

            }
            button{
                margin: 5px;
                
            }

        }
        .contenedor12:hover{
            transform: scale(1.01);
            box-shadow: 10px 10px 8px 10px #292828;

        }
     }
}

//------------------acercade-----------//

.grid-contenedor_acercade{

    .principal_acercade{

        
        background:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.568)), url("../img/fon.avif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        height: auto;
        padding: 5px;
        .hero{
            h2{
                font-size: nth($font-size,3);
                font-family: 'Bruno Ace SC', cursive;
                color: rgb(247, 237, 102);
                font-style:oblique;
                text-align: center;
                border: 2px rgb(168, 212, 7);

            }
            .hero_elementos{
            
                @include flex(flex,space-between,center);
                padding: 10px;
                margin-top: 20px; 
                            p{
                                font-size: 20px;
                                color: nth($colores,1 );
                                font-family: 'poppins';
                                padding: 20px;
                                text-align: center;

                }

            }
            
        }
        .hero_contactos{
            text-align: center;
            padding: 10px;
            margin: 40px;
            border: 2px white solid;
            border-radius: 7px;

           
           
            
            h3{
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                font-style:oblique;
                text-align: center;

            }
            p{
                color: nth($colores,1 );

            }
            a{
                color:nth($colores,3);
                padding: 5px;
                font-style: normal,;
               
                font-family: 'Bruno Ace SC', cursive;
                text-decoration: none;
                transition: 1s;

            }
            a:hover{
                transform: scale(2);
            }

        }


    }
}



//----------------------------contacto-----------//

.formulario{
      
        padding: 5px;
        

        @include flex-direction(flex,column,center);
        background: rgb(47,47,50);
        background: linear-gradient(0deg, rgba(47,47,50,1) 0%, rgba(205,205,224,1) 49%, rgba(6,6,10,1) 100%);
    .formulario_1{
        h2{
                        
                font-family: 'Bruno Ace SC', cursive;
                color: $color-titulo;
                text-align: center;
                font-style: oblique;

        }

        form{

            border: 2px black solid;
            border-radius: 7px;
            width: 550px;
            height: 450px;
            padding: 5px;
            background-color: aliceblue;
                
        }

    }

    h3{
        font-family: 'Bruno Ace SC', cursive;
        color: $color-titulo;
        text-align: center;
        font-style: oblique;

    }

    .mapa{

        margin: 10px;
        align-items: center;
        padding:0;
        display: flex;
        justify-content: center;
        border: 2px black solid;
        
       
    }
}


/*----------------------------servicio------------------------*/

.servicio{

    
    @include flex-direction(flex,column,center);
    align-items: center;
    background: rgb(47,47,50);
    background: linear-gradient(0deg, rgba(47,47,50,1) 0%, rgba(205,205,224,1) 49%, rgba(6,6,10,1) 100%); 

    h2{
          
    font-size: 65px;
   
    font-family: 'Bruno Ace SC', cursive;
    color: $color-titulo;
    text-align: center;
    font-style: oblique;
    text-shadow: #292828;

    }
    .video{
        padding: 20px;
        @include flex-direction(flex,row,center);
        justify-content: space-around;
        margin: 20px;
        .parrafo{
            width: 300px;
            text-align: center;
            margin: 40px;
            background-color: rgba(77, 74, 74, 0.473);
            border-radius: 7px;
            font-family: 'Bruno Ace SC', cursive;
            font-size: nth($font-size,2);
            color: $color-titulo;
            box-shadow: 10px 10px 8px 10px #292828;
            a{
                color:nth($colores,3);
                padding: 5px;
                font-style: normal;
                font-family: 'Bruno Ace SC', cursive;
                text-decoration: none;
            }
            

        }
        

        

    }
}