@media screen and (max-width:1050px) {

    .grid-contenedor{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto  auto auto 50px;
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;

        .hero p{
            font-size: 12px;
            text-align: center;
        }
    
     
    
        .productos_contenedor{
            display: flex;
            flex-direction: row;
            height: auto;
            width: auto;
    
            .tarjetas{
                margin: 15px;
            }
            
          
           
            
    
        }
    } 

    .grid-contenedor-productos{
        .cuerdas{
            display: flex;
            
            flex-direction: column;
    
        }
    
    
        .percucion{
            flex-direction: column;
            
        }
    
        .Vientos{
            flex-direction: column;
        }
    
        .amplis{
            flex-direction: column;
        }


    }
    .servicio{
        .video{
            @include flex-direction(flex,column,center);
        }
    }



   

    
}

@media screen and (max-width:800px){

    .grid-contenedor{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto  auto auto 50px;
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;

        .productos_contenedor{
            display: flex;
            flex-direction: column;
            height: auto;
        }

    }

    .grid-contenedor-productos{
        .cuerdas{
            display: flex;
            
            flex-direction: column;
    
        }
    
    
        .percucion{
            flex-direction: column;
            
        }
    
        .vientos{
            flex-direction: column;
        }
    
        .amplis{
            flex-direction: column;
        }


    }

    .formulario{
        .formulario_1{

            form{
                width: 350px;
                height: auto;

            }

          



        }
    }
   


 
    
}
@media screen and (max-width:700px) {

    .servicio{
        h2{
            font-size: nth($font-size , 3);
        }
        .video{
            
            margin: 10px;
            iframe{
                width: 350px;
            }
            .parrafo{
                margin:15px;
            }
        }
    }
}
@media screen and (max-width:580px) {

    .grid-contenedor{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows:auto auto auto 50px ;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
        ;

        .encabezado{
            position: static;
        }

        .hero{
            h2{
                font-size: 35px;
            }
        }
    
        
    
        .productos_contenedor{
            flex-direction: column;
            height: auto;
            width: auto;
        }
    }
    
    .grid-contenedor_acercade{
        .principal_acercade{

            .hero{
                h2{
                    font-size: 35px;
                }
            }
        }

    }
    

    .grid-contenedor-productos{

        .cuerdas{
            .contenedor1{
                width: 300px;
            }
            .contenedor2{
                width: 300px;
            }
            .contenedor3{
                width: 300px;
            }

        }
        .percucion{
            .contenedor4{
                width: 300px;
            }
            .contenedor5{
                width: 300px;
            }
            .contenedor6{
                width: 300px;
            }

        }

        .Vientos{
            .contenedor7{
                width: 300px;
            }
            .contenedor8{
                width: 300px;
            }
            .contenedor9{
                width: 300px;
            }
        }

        .amplis{
            .contenedor10{
                width: 300px;
            }
            .contenedor11{
                width: 300px;
            }
            .contenedor12{
                width: 300px;
            }

        }
        


    }

    .formulario{
        .formulario_1{

            form{
                width: 250px;
                height: auto;

            }
           

          



        }
    }

    .servicio{
       
        .video{
            
            margin: 5px;
            iframe{
                width: 300px;
            }
            .parrafo{
                margin:5px;
            }
        }
    }

   
   
}